{% extends "base.html" %}
{% block content %}

<hr />
<span class="attrib_name">Add Entry</span><br />

<form action="" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    Type
    <br />
    <select name="type">
        <option value="person">Person</option>
        <option value="groupOfNames">Group</option>
        <option value="securityObject">Security object</option>
        <option value="ou">Organizational Unit</option>
        <option value="o">Organization</option>
    </select>
    <br />
    
    Name (RDN)
    <br />
    <input type="text" name="rdn" value="">
    <br />
    <input class="btn btn-default" type="submit" value="Save">
    <a href="/index/{{ navItems['currentDN'] }}" class="button">Cancel</a>
</form>

{% endblock %}
