<!DOCTYPE html>
<html>
  <head>
    <title>FKI LDAP client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/skeleton.css" rel="stylesheet" media="screen">
    <link href="/static/css/style.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
  </head>
  <body>

    <div class="container">
        <div class="row"  style="font-size: 1.2em;">
            <div class="ten columns">
            {% if navItems['breadcrumbs'] %}
                {% for treeItem in navItems['breadcrumbs'] %}
                    <a style="text-decoration: underline;" href="/index/{{ treeItem['dn'] }}">{{ treeItem['name'] }}</a> 
                {% endfor %}
            
            {% endif %}
            </div>
            <div class="two columns" style="text-align:right;">
            {% if navItems['home'] %}
                <a href="/index/{{ navItems['home'] }}" title="{{ navItems['home'] }}"><i class="fa fa-home"></i></a>
                <a href="/search" title="search email"><i class="fa fa-search"></i></a>
                <a href="/logout" title="logout"><i class="fa fa-sign-out"></i></a>
            
            {% endif %}   
            </div>
        </div>
        
        <hr style="margin-top:0.5em" />
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages and request.path != "/login" %}
                {% for category, message in messages %}
                  <div class="{{ category }}">{{ message | safe }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <!-- errors -->
        {% if error %}
            {% if error is iterable and error is not string %}
                <div class="error">{{ error | safe }}</div>
            {% else %}
                <div class="error">{{ error | safe }}</div>
            {% endif %}
        {% endif %}
      
        <br />
        
        {% if attribs %}
            <span style="font-size: 1.4em">
                {% if attribs.get_attr_values('objectClass')[0] in navItems['classes'] %}
                    {{ navItems['classes'][attribs.get_attr_values('objectClass')[0]]['icon'] | safe }}
                    <span style="">{{ navItems['classes'][attribs.get_attr_values('objectClass')[0]]['name'] }}</span>:
                {% else %}
                    <span style="">{{ attribs.get_attr_values('objectClass')[0] }}</span>
                {% endif %}
            
                {{ attribs.get_rdn() }}         
            </span>
            <span class="ldapWord">({{ attribs.get_attr_values('objectClass')[0] }})</span>
            {% if not entries %}
                <a href="/delete/{{ currentDN }}">delete</a>
            {% endif %}
            <br />
        {% endif %}
        
        {% if navItems['currentDN'] %}
            <span class="attrib_name">Distinguished Name</span>
            <span class="ldapWord">(dn)</span>
            <br />{{ navItems['currentDN'] }}
        {% endif %}
        
        {% if attribs and attribs.has_attribute('description') %}
            <br />
            <span class="attrib_name">Description</span>
            <span class="ldapWord">(description)</span>
            <a href="/edit/{{ currentDN }}?attrib=description">edit</a>
            <br />
            {{ attribs.get_attr_values('description')[0] }}
        {% endif %}
        
        
      
      <!-- child template -->
      {% block content %}{% endblock %}

    </div>
    <p></p>

  </body>
</html>
