{% extends "base.html" %}
{% block content %}

<p></p>
<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input class="btn btn-default" type="submit" value="Delete">
    <a href="/index/{{ navItems['currentDN'] }}" class="button">Cancel</a>
</form>

{% endblock %}
