{% extends "base.html" %}
{% block content %}


{% if attribs %}
    {% for attrib_name in attribs.get_attr_names() %}

        {% if navItems['currentDN'].startswith("%s=%s" % (attrib_name, attribs.get_attr_values(attrib_name)[0])) %}
            {% continue %}
        {% endif %}

        {% set attribName = attrib_name %}
        {% if attrib_name in navItems['friendlyAttribs'] %}
            {% set attribName = navItems['friendlyAttribs'][attrib_name] %}
        {% endif %}
        
        {% if attrib_name == "member" %}
            <br />
            <span class="attrib_name">{{ attribName }}</span>
            <span class="ldapWord">({{ attrib_name }})</span>
            <a href="/edit-members/{{ currentDN }}">edit</a>
            {% for member in attribs.get_attr_values(attrib_name) %}
                <br /><a href="/index/{{ member }}">{{ member }}</a>
            {% endfor %}   

        {% elif not (attrib_name == "objectClass" or attrib_name == "description") %}  
            <br />
            <span class="attrib_name">{{ attribName }}</span>
            {% if attrib_name in navItems['friendlyAttribs'] %}
                <span class="ldapWord">({{ attrib_name }})</span>
            {% endif %}
            <a href="/edit/{{ currentDN }}?attrib={{ attrib_name }}">edit</a>
            <br />
            {{ attribs.get_attr_values(attrib_name)[0] }}
        {% endif %}          
    {% endfor %}

    {% if groups %}
        <br /><span class="attrib_name">Groups</span>
        {% for group in groups %}
            <br /><a href= "/index/{{ group }}"> {{ group }} </a>
        {% endfor %}
    {% endif %}

        <hr /><span class="attribContains">{{ attribs.get_rdn() }}</span>
        {% if entries %}
            <span class="attribContains">sub-tree:</span>
        {% else %}
            <i title="Leaf attribute" class="fa fa-leaf" aria-hidden="true"></i> 
        {% endif %}
        
        <a href="/add/{{ currentDN }}">add entry</a>
        
        <br />

    {% if entries %}
        {% for class in entries %}
            <br />
            {% if navItems['classes'].has_key(class) %}
                {{ navItems['classes'][class]['icon'] | safe }}
                {{ navItems['classes'][class]['name'] }}
            {% else %}
                {{ class }}
            {% endif %}
            
            <span class="ldapWord">({{ class }})</span>
            {% for entry in entries[class] %}
                <br><a href="/index/{{ entry }}">{{ entry }}</a>
            {% endfor %}
            <br />
        {% endfor %}
    {% else %}
        <span class="hint">No sub-tree</span>
    {% endif %}

{% endif %}

{% endblock %}
