{% extends "base.html" %}
{% block content %}

    {% set attribName = request.form.attrib %}
    {% if request.form.attrib in navItems['friendlyAttribs'] %}
        {% set attribName = navItems['friendlyAttribs'][request.form.attrib] %}
    {% endif %}

    <br />
    <span class="attrib_name">Search {{ attribName }}</span>
    <span class="ldapWord">({{ request.form.attrib }})</span>
    <br />

    <form action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="attrib" value="{{ request.form.attrib }}">
        <input type="text" name="value" value="{{request.form.value}}">
        <input class="btn btn-default" type="submit" value="Search">
    </form>

{% endblock %}
