{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="four columns">
        <span class="attrib_name">{{ navItems['friendlyAttribs']['cn'] }}</span>
        <span class="ldapWord">(cn)</span>
        <a href="/edit/{{ currentDN }}?attrib=cn">edit</a>
        <br />{{ attribs.get_attr_values('cn')[0] }}
    </div>
    <div class="four columns">
        <span class="attrib_name">{{ navItems['friendlyAttribs']['sn'] }}</span>
        <span class="ldapWord">(sn)</span>
        <a href="/edit/{{ currentDN }}?attrib=sn">edit</a>
        <br />{{ attribs.get_attr_values('sn')[0] }}
    </div>
    <div class="four columns">
        {% if attribs.has_attribute('displayName') %}
        <span class="attrib_name">{{ navItems['friendlyAttribs']['displayName'] }}</span>
        <span class="ldapWord">(displayName)</span>
        <br />{{ attribs.get_attr_values('displayName')[0] }}
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="four columns">
        <span class="attrib_name">{{ navItems['friendlyAttribs']['uid'] }}</span>
        <span class="ldapWord">(uid)</span>
        <br />{{ attribs.get_attr_values('uid')[0] }}
    </div>
    <div class="four columns">
        <span class="attrib_name">{{ navItems['friendlyAttribs']['mail'] }}</span>
        <span class="ldapWord">(mail)</span>
        <a href="/edit/{{ currentDN }}?attrib=mail">edit</a>
        <br />{{ attribs.get_attr_values('mail')[0] }}
    </div>
    <div class="four columns">
        {% if attribs.has_attribute('o') %}
        <span class="attrib_name">{{ navItems['friendlyAttribs']['o'] }}</span>
        <span class="ldapWord">(o)</span>
        <a href="/edit/{{ currentDN }}?attrib=o">edit</a>
        <br />{{ attribs.get_attr_values('o')[0] }}
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="four columns">
        <span class="attrib_name">{{ navItems['friendlyAttribs']['jpegPhoto'] }}</span>
        <span class="ldapWord">(jpegPhoto)</span>
        <a href="/edit-photo/{{ currentDN }}">edit</a>
        <br />
        {% if attribs.has_attribute('jpegPhoto') %}
        <img src="data:image/jpeg;base64,{{ attribs.get_attr_values('jpegPhoto')[0] }}" />
        {% endif %}
    </div>
    {% if attribs.has_attribute('userPassword') %}
    <div class="four columns">
        <span class="attrib_name">{{ navItems['friendlyAttribs']['userPassword'] }}</span>
        <span class="ldapWord">(userPassword)</span>
        <a href="/edit/{{ currentDN }}?attrib=userPassword">edit</a>
        <br />
        <span style="font-size: 0.7em">
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        </span>
    </div>
    {% endif %}
</div>

{% if groups %}
    <span class="attrib_name">Groups</span>
    {% for group in groups %}
        <br /><a href= "/index/{{ group }}">{{ group }}</a>
    {% endfor %}
{% endif %}

{% if entries %}
    <br /><span class="attrib_name">Subtree</span>

        {% for class in entries %}
            <br />
            {% if navItems['classicons'].has_key(class) %}
                {{ navItems['classicons'][class] | safe }}
            {% endif %}
            {{ class }}
            {% for entry in entries[class] %}
                <br><a href="/index/{{ entry }}">{{ entry }}</a>
            {% endfor %}
        {% endfor %}    

{% endif %}

{% endblock %}
